header {
  height: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
}

main {
  padding: 3rem;
  background: #434343;
  color: white;
}

.card {
  width: calc(100% / 5 - 1rem);
  height: 400px;
  padding: 2rem 1rem;
  background: black;
  color: white;
  margin: 0.5rem;
  text-align: center;

  img {
    width: 100%;
  }
}